---
import type { Difficulty } from "@astral-mines/types/difficulty"
import { GAME_TITLE } from "@astral-mines/utils/constants"
import Layout from "./Layout.astro"
import Timer from "@astral-mines/components/Timer.astro"
import { Board } from "@astral-mines/components/Board"
import GameOverModal from "@astral-mines/components/GameOverModal.astro"
import GameInfo from "@astral-mines/components/GameInfo.astro"

interface Props {
  difficulty: Difficulty
}

const { difficulty } = Astro.props
---

<Layout title=`${GAME_TITLE} | ${difficulty.LABEL}`>
  <section class="flex flex-col items-center justify-center">
    <Timer slot="title" />
    <GameOverModal />
    <GameInfo difficulty={difficulty} />
    <Board
      client:load
      dimension={difficulty.BOARD_SIZE}
      minesNumber={difficulty.MINES}
    />
  </section>
</Layout>
